h1 {
  text-align: center;
}

.gridContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 50vh;
  height: 50vh;
  display: grid;
}

.square {
  width: 100%;
  height: 100%;
  /*border: 1px solid black;*/
}

.shaded {
  background-color: black;
}