h1 {
  text-align: center;
}

.gridContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 600px;
  height: 600px;
  display: grid;
}

.square {

}

.shaded {
  background-color: black;
}